@import "../../assets/scss/styles.scss";

$text-shadow-setting: 1px 1px 1px rgba(0, 0, 0, 0.2);

.player-list-item-data {

    &__container {
        font-family: $standard_font;
        background: $medium-gray;
        margin-top: 41px;
        border-radius: $border-radius;
        overflow: hidden;
        height: 100%;
        flex-basis: 35%;
    }

    &__icon {
        color: $dark-orange;
    }

    
    &__button,
    &__container {
        color: $white;
    }
    
    &__title {
        display: flex;
        justify-content: space-between;
        color: $endava-gray;
    }

    &__add {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    &__button {
        background: $dark-orange;
        padding: $button-padding;
        border: none;
        border-radius: $border-radius;
        width: 40%;
        line-height: 1em;

        &--disabled {
            opacity: 0.5;
        }
    }

    &__card {
        display: flex;
    }

    &__picture {
        flex-basis: 15%;
        min-width: 130px;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }

    &__pos-price {
        display: flex;
        justify-content: space-between;

        & > * {
            text-shadow: $text-shadow-setting;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: $default_padding;
        margin-left: 10px;
        width: 100%;
        justify-content: space-between;
    }

    &__image {
        width: 100%;
    }

    &__name {
        font-size: 24px;
        text-shadow: $text-shadow-setting;
    }
}