@import "../../assets/scss/styles.scss";

.player-list-item-data {
    &__container {
        background: $medium-gray;
        border-radius: $border-radius;
        overflow: hidden;
        height: 100%;
    }

    &__card {
        display: flex;
    }

    &__picture {
        flex-basis: 15%;
    }

    &__pos-price {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: $default_padding;
        margin-left: 10px;
    }

    &__image {
        width: 100%;
    }

    &__name {
        font-size: 1.4em;
    }
}