@import "../assets/scss/styles.scss";

$height-container: 230px;

.home {
  margin: 40px 0; 

  &__container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $height-container;
    width: 24%;
  }

  &__player-text {
    margin-top: 5%;
    font-size: 31px;
    width: 33%;
    text-align: center;
  }

  &__model {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 38%;
    margin: 0 8% 0 1%;
    // padding: 0 10% 0 18%;
    height: $height-container;

    &-input {
      background: $light-gray;
      border-radius: 10px;
      box-shadow: 0;
      height: 40px;
      padding: 10px;
      border: none;
      outline: none;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__display-data-model {
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-orange;
    font-size: 24px;
  }

  &__logo {
    // max-width: 200px;
    width: 30%;
    text-align: center;
    margin-bottom: 80px;

    &-image {
      max-width: 35%;
    }
  }

  &__title {
    font-size: 16px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__player-selection {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}