@import "../assets/scss/styles.scss";

.home {
  margin: 40px 0; 

  &__container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__model {
    display: flex;
    flex-direction: column;
    width: 33%;

    &-input {
      background: $light-gray;
      border-radius: 10px;
      box-shadow: 0;
      height: 40px;
      padding: 10px;
      border: none;
      outline: none;
      margin-bottom: 30px;
    }
  }

  &__logo {
    max-width: 200px;
    text-align: center;
    margin-bottom: 80px;

    &-image {
      width: 70%;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__player-selection {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}