@import "../../assets/scss/styles.scss";

.players {
    display: flex;
    flex-direction: column;

    &__list {
        margin: 0;
        padding: 0;
        background: $endava-gray;
        border-radius: $border-radius;

        &.selected {
            background: $dark-orange;
        }
    }
}