@import "../../assets/scss/styles.scss";

.players {
    &__selected, &__draft {
        display: flex;
        flex-direction: column;
        flex-basis: 25%;
    }

    &__list {
        margin: 0;
        padding: 0;
        background: $endava-gray;
        border-radius: $border-radius;

        &-selected {
            background: $dark-orange;
        }
    }
}